/*
 *= require font-kit-rails/open-sans
*/

@import "bootstrap";
@import "font-awesome";
@import "col-helpers";
@import "nav";
@import "events";
@import "tickets";
@import "users";

body {
  font-family: 'Open Sans';
}
.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
}
.flash-message{
  margin-top: 54px;
}
.actived{
  color: #fff !important;
}
